<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">All Events</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-primary" type="button" class="btn btn-primary" routerLink="/dashboard/add-event" >Add new Event</button>
    </div>
  </div>
</div>
<div class="table-responsive">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Add ress</th>
          <th scope="col">Desciption</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of allEvents">
          <td>{{ event.id }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.address_of_location }}</td>
          <td>{{ event.description }}</td>
          <td><button type="button" class="btn btn-sm btn-info text-white">More details</button></td>
        </tr>            
      </tbody>
    </table>
  </div>